@{
    ViewData["Title"] = "Архив";
}

<div class="container">
    <div class="row mb-5">
        <a class='btn btn-dark btn-sm rounded' asp-action="Index" asp-controller="Admin">
            Вернуться
        </a>
    </div>
    <div class="row">
        <p class="lead text-center">Закрытые заявки</p>
    </div>
</div>