@{
    ViewData["Title"] = "Ожидающие";
}

@model IEnumerable<Order>

<div class="container">
    <div class="row">
        <p class="lead text-center">
            Не принятые
        </p>
        @foreach (var order in Model)
        {
            <partial name="Partials/_order" model="order" />
        }
    </div>
</div>