@{
    ViewData["Title"] = "Главная";
}

@model TaskManager.ViewModels.Admin.AdminOrderViewModel 

<div class="container">
    <div class="row mb-5">
        <a class='btn btn-dark btn-sm rounded' asp-action="OrderArchive" asp-controller="Admin">
            Архив отработанных
        </a>
    </div>
    <div class="row">
        <p class="lead text-center">Заявки в работе</p>
        @foreach (var order in Model.OrdersInWork)
        {
            <partial name="Partials/_order" model="order" />
        }
    </div>
    <div class="row">
        <p class="lead text-center">Ожидают подтверждения пользователя</p>
        @foreach (var order in Model.CompletedOrders)
        {
            <partial name="Partials/_orderCompleted" model="order" />
        }
    </div>
    <div class="row">
        <p class="lead text-center">Заявки не в работе</p>
        @foreach (var order in Model.OrdersNotInWork)
        {
            <partial name="Partials/_order" model="order" />
        }
    </div>
</div>