@model string

<div class="row">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col">
        <a class="btn btn-info btn-sm w-100 rounded" asp-action="SubscribeToOrder" asp-controller="Home" asp-route-id="@Model">Принять</a>
    </div>
</div>