@model Message

<div class="container mb-4">
    <div class="row border-bottom">
        <div class="col text-center">
            @Model.SenderId > @Model.RecipientId
        </div>
        <div class="col-4">
            @Model.Time
        </div>
    </div>
    <div class="row">
        @Model.MessageText
    </div>
</div>