@model IEnumerable<TaskManager.ViewModels.ShowOrderViewModel>

@if (Model is not null)
{
    foreach (var order in Model)
    {
        <div class="row mb-2">
            <div class="col-2"></div>
            <div class="col">
                <partial name="_showOrder" model="order" />
            </div>
            <div class="col-2"></div>
        </div>
    }
}