@{
    ViewData["Title"] = "Чат";
}

@model TaskManager.ViewModels.Message.ChatViewModel

<div class="container">
    <div class="row border-bottom mb-3">
        <p>
            Чат заявки @Model.Chat.OrderId
        </p>
    </div>
    <div class="row" style="height:550px;">
        <div class="col h-100 overflow-auto">
            @if (Model.Chat.Messages is not null)
            {
                foreach (var message in Model.Chat.Messages)
                {
                    <partial name="Partials/_chatMessage" model="message" />
                }
            }
        </div>
    </div>
    <div class="row">
        <partial name="Partials/_chatInput" model="@Model.SendMessageViewModel" />
    </div>
</div>