@model string

<div class="row">
    <div class="col"></div>
    <div class="col-auto">
        <a class="badge bg-danger page-link" style="width:150px;" asp-action="DeleteOrder" asp-controller="User" asp-route-orderId="@Model">
            Удалить
        </a>
    </div>
</div>