@{
    ViewData["Title"] = "Главная";
}
@model IEnumerable<Order>

<div class="container">
    <!--Create button-->
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <a class='btn btn-outline-info w-100 rounded' asp-action="Create" asp-controller="Home">
                Создать заявку
            </a>
        </div>
        <div class="col"></div>
    </div>


</div>