@{
    ViewData["Title"] = "Главная";
}
@model IEnumerable<Order>

<a asp-action="CreateOrder">Создать заявку</a>

@if (Model is not null)
{
    foreach (var order in Model)
    {
        <partial name="_showOrder" model="order" />
    }
}