@model string

<div class="row">
    <div class="col"></div>
    <div class="col-auto">
        <a class="badge bg-success page-link" style="width:150px;" asp-action="SubscribeToOrder" asp-controller="Admin" asp-route-orderId="@Model">
            Принять
        </a>
    </div>
</div>